body{
background-color: chocolate;
}
h1{
color: aqua;
text-align: center;
text-transform: capitalize;

}
ul{
    background-color: cornflowerblue;
}
li{
color: blue;
height: 35px;

}
img{
height: 200px;
border: 15px;
width: 250px;
border-color: black;
border-style: solid;
}